.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* two column layout */
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.column {
    flex: 50%;
    padding: 1em;
    width: 100% !important;
}

/* COLORS */

.sage {
    background-color: #798E7B;
}


/* NAVIGATION */

.nav {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 80px;
    z-index: 1000;
    background-color: #F5F0F2;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav .nav-content {
    max-width: 900px;
    padding: 0rem 3rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
  
.nav-item {
    display: inline;
    margin-left: 2rem;
    color: #333;
}
  
.nav-item:hover {
    color: black;
    cursor: pointer;
}


/* FOOTER */

.footer > img {
    width: 100%;
}

/* CARD */

.card {
    height: 100vh;
    width: 100% !important;
}

.card-content {
    padding: 0em 15em;
    border-radius: 20px;
    border: none;
    box-sizing: border-box;
    background: #f5f1f4;
    box-shadow: 14px 14px 20px #d1cbcf, -14px -14px 20px white;
}

input {
    margin-top: .5em;
    margin-bottom: 2.2em;
    padding: .5em;
    border: none;
    background: #f5f1f4;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #d1cbcf, inset -6px -6px 6px white;
}

button {
    margin-top: 1em;
    padding: 1em;
    border-radius: 20%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #d1cbcf, -7px -7px 10px white;
    border: none;
    color: rgb(102, 101, 101);
}


/* VIEWPORT FIXES */

@media only screen and (min-width: 1000px) {
    .column {
        padding: 2.5em;
    }
  }

@media only screen and (max-width: 800px) {
    h4 {
        font-size: small;
    }
  }

  @media only screen and (max-width: 600px) {
    h4 {
        font-size: x-small;
    }
  }